node_modules
.turbo
.DS_Store
.dist
dist
.idea
.env
.env.local
*.log
apps/ui-client/dist
apps/ui-client/playwright-report
apps/ui-client/test-results
packages/core-service/target
packages/core-service/data/*.db
packages/docs/site
apps/ui-client/src-tauri/target
/data/*
/traces/*
/certs/*
