node_modules
.DS_Store
.dist
dist
.idea
.env
.env.local
*.log
apps/ui-client/dist
packages/core-service/target
packages/core-service/data/*.db
packages/docs/site
apps/ui-client/src-tauri/target
/data/*
/traces/*
/certs/*


apps/ui-client/test-results/*
apps/ui-client/playwright-report/*
.turbo
